@{
    ViewData["Title"] = "Update Crypto Prices API";
}
<h1>@ViewData["Title"]</h1>
<p>Could not process Coin Market Cap API request.</p>
<p><a asp-area="Cryptos" asp-controller="Portfolio" asp-action="Index">Return to Portfolio</a></p>